.page-title{
    font-size: 36px;
    margin-left: 40px;
    border-left: 4px #ffa31a;
    padding-left: 20px;
}

.page-subtitle{
    font-size: 18px;
   font-style: italic;
    color: #555;
    margin-top: 4px;
}